<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <script type="text/javascript" src="http://localhost:3000/js"></script>
    
    <title>Create User</title>
</head>

<body>
        <div id="nav-placeholder"></div>

        Username: <input type="text" value="" id="username-input" style="width:200px" placeholder="Enter a username"> <br />
        Password: <input type="text" value="" id="password-input" style="width:200px" placeholder="Enter a password"> <br />
    <button onclick="postUser()" id="createuser">Create Account</button> <br />
    <div id="inside"></div>
    <script>


    </script>

    <div id="doc-text">
    </div>
</body>

</html>