<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <script type="text/javascript" src="http://localhost:3000/js"></script>
    
    <title>Blog Posts</title>
</head>

<body>
        <div id="nav-placeholder"></div>
        <h1>Chat Room</h1>
        Search for a room: <input type="text" value="" placeholder="Enter Username" id="searchforuser" style="width:200px">
    <button onclick="getMessagesPerIndividual('http://localhost:3000/user')" type="button" id="search">Search</button> <br />
        
    <div id="inside">

    </div>
    <script>

    </script>
</body>

</html>